<div>
    <h2 id="page-heading">
        <span jhiTranslate="labprovidenciaApp.cultivo.home.title">Cultivos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cultivo" [routerLink]="['/cultivo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="labprovidenciaApp.cultivo.home.createLabel">
            Create a new Cultivo
            </span>
        </button>
    </h2>

    <div class="filters-form card mt-4 mb-4">
        <div class="card-header">Filtrar:</div>
        <div class="card-body row">
            <div class="col-md-4">
                <input type="text"
                       id="filter_cultivo"
                       [(ngModel)]="filters.cultivo"
                       (ngModelChange)="loadPage()"
                       class="form-control"
                       [ngModelOptions]="{standalone: true}"
                       placeholder="Filtrar por {{'labprovidenciaApp.cultivo.cultivo'| translate}}" />
            </div>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cultivos?.length === 0">
        <span jhiTranslate="labprovidenciaApp.cultivo.home.notFound">No cultivos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cultivos && cultivos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cultivo"><span jhiTranslate="labprovidenciaApp.cultivo.cultivo">Cultivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cultivo of cultivos ;trackBy: trackId">
                    <td><a [routerLink]="['/cultivo', cultivo.id, 'view']">{{ cultivo.id }}</a></td>
                    <td>{{ cultivo.cultivo }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cultivo', cultivo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cultivo', cultivo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cultivo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cultivos && cultivos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
