<div>
    <h2  jhiTranslate="entityAudit.home.title"  >Entity Audit</h2>

    <jhi-alert></jhi-alert>

    <h4 jhiTranslate="entityAudit.home.filter">Filter</h4>
    <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10">
            <form name="auditEventForm"  #auditEventForm="ngForm">
                <div class="row">
                  <label class="form-control-label col-sm-3 col-md-2 text-center" for="entityName"
                           jhiTranslate="entityAudit.home.entityOrTable"  >
                      Entity/Table
                  </label>
                  <select class="form-control col-sm-3 col-md-2" id="entityName"
                          name="entityName" required [(ngModel)]="selectedEntity"
                          #entityName="ngModel">
                      <option [value]="entityOption" *ngFor="let entityOption of entitiesSimple">
                          {{ entityOption }}
                      </option>
                  </select>

                  <label class="form-control-label col-sm-3 col-md-2 text-center" for="limit"
                           jhiTranslate="entityAudit.home.limitTo"  >
                      Limit to
                  </label>
                  <select class="form-control col-sm-3 col-md-2" id="limit"
                          name="limit" required [(ngModel)]="selectedLimit">
                      <option [value]="limitOption" *ngFor="let limitOption of limits">
                          {{ limitOption }}
                      </option>
                  </select>

                  <button class="btn btn-primary ml-2 mt-sm-2 mt-md-0 col-md-2" (click)="loadChanges()"
                          [disabled]="!auditEventForm.form.valid">
                        <fa-icon icon="sync"></fa-icon>
                      <span  jhiTranslate="entityAudit.home.loadChangeList"  >Load Change List</span>
                  </button>
                </div>
            </form>
          </div>
    </div>

    <div [hidden]="loading">
        <div class="table-responsive mt-2" *ngIf="audits">
            <div class="alert alert-success alert-dismissible" *ngIf="selectedEntity" jhiTranslate="entityAudit.result.showInfo" [translateValues]="{ limit: selectedLimit, entity: selectedEntity }">
                Last <strong>{{ selectedLimit }}</strong>
                Changes for <strong>{{ selectedEntity }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-inline mb-2">
                <div class="mt-5 form-group">
                    <label for="searchFieldEntityId"
                             jhiTranslate="entityAudit.result.searchFieldLabel"  >
                        Filter:
                    </label>
                    <input type="number" class="form-control ml-2" id="searchFieldEntityId"
                            name="searchFieldEntityId"
                            placeholder="{{ 'entityAudit.result.entityIdFilter' | translate }}"
                            [(ngModel)]="filterEntityId" />
                </div>
            </form>

            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th (click)="orderProp = 'entityId'; reverse = !reverse">
                            <span  jhiTranslate="entityAudit.result.tableHeader.entityId"> Entity Id</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                        <th (click)="orderProp = 'action'; reverse = !reverse">
                            <span  jhiTranslate="entityAudit.result.tableHeader.action">Action</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                        <th (click)="orderProp = 'commitVersion'; reverse = !reverse">
                            <span jhiTranslate="entityAudit.result.tableHeader.version">Version</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                        <th>
                            <span jhiTranslate="entityAudit.result.tableHeader.value" >Value</span>
                        </th>
                        <th (click)="orderProp = 'modifiedDate'; reverse = !reverse">
                            <span jhiTranslate="entityAudit.result.tableHeader.modifiedDate">Modified Date</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                        <th (click)="orderProp = 'modifiedBy'; reverse = !reverse">
                            <span  jhiTranslate="entityAudit.result.tableHeader.modifiedBy">Modified By</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                        <th><fa-icon icon="eye"></fa-icon></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let audit of (audits | pureFilter:filterEntityId:'entityId' | orderBy:orderProp:reverse); trackBy: trackId">
                        <td>{{ audit.entityId }}</td>
                        <td>{{ audit.action }}</td>
                        <td>{{ audit.commitVersion }}</td>
                        <td><pre class="code">{{ audit.entityValue | json }}</pre></td>
                        <td>{{ audit.modifiedDate | date:'short' }}</td>
                        <td>{{ audit.modifiedBy }}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-xs"
                                    ngbTooltip="{{ 'entityAudit.result.tableBody.viewDetails' | translate }}"
                                    (click)=openChange(audit)>
                                <fa-icon icon="eye"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p *ngIf="!audits"  jhiTranslate="entityAudit.result.noDataFound"  class="mt-2">
            No Data found for the filters
        </p>
    </div>
</div>
