<div>
    <h2 id="page-heading">
        <span jhiTranslate="labprovidenciaApp.fQMantequilla.home.title">FQ Mantequillas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fq-mantequilla" [routerLink]="['/fq-mantequilla/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="labprovidenciaApp.fQMantequilla.home.createLabel">
            Create a new FQ Mantequilla
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fQMantequillas?.length === 0">
        <span jhiTranslate="labprovidenciaApp.fQMantequilla.home.notFound">No fQMantequillas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fQMantequillas && fQMantequillas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="labprovidenciaApp.fQMantequilla.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lote"><span jhiTranslate="labprovidenciaApp.fQMantequilla.lote">Lote</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ph"><span jhiTranslate="labprovidenciaApp.fQMantequilla.ph">Ph</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="humedad"><span jhiTranslate="labprovidenciaApp.fQMantequilla.humedad">Humedad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observaciones"><span jhiTranslate="labprovidenciaApp.fQMantequilla.observaciones">Observaciones</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="area.area"><span jhiTranslate="labprovidenciaApp.fQMantequilla.area">Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="producto.producto"><span jhiTranslate="labprovidenciaApp.fQMantequilla.producto">Producto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="analista.nombreCompleto"><span jhiTranslate="labprovidenciaApp.fQMantequilla.analista">Analista</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="proveedor.nombre"><span jhiTranslate="labprovidenciaApp.fQMantequilla.proveedor">Proveedor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fQMantequilla of fQMantequillas ;trackBy: trackId">
                    <td><a [routerLink]="['/fq-mantequilla', fQMantequilla.id, 'view']">{{ fQMantequilla.id }}</a></td>
                    <td>{{ fQMantequilla.fecha | date:'medium' }}</td>
                    <td>{{ fQMantequilla.lote }}</td>
                    <td>{{ fQMantequilla.ph }}</td>
                    <td>{{ fQMantequilla.humedad }}</td>
                    <td>{{ fQMantequilla.observaciones }}</td>
                    <td>
                        <div *ngIf="fQMantequilla.area">
                            <a [routerLink]="['/area', fQMantequilla.area?.id, 'view']" >{{ fQMantequilla.area?.area }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fQMantequilla.producto">
                            <a [routerLink]="['/producto', fQMantequilla.producto?.id, 'view']" >{{ fQMantequilla.producto?.producto }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fQMantequilla.analista">
                            <a [routerLink]="['/user-extra', fQMantequilla.analista?.id, 'view']" >{{ fQMantequilla.analista?.nombreCompleto }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fQMantequilla.proveedor">
                            <a [routerLink]="['/personal', fQMantequilla.proveedor?.id, 'view']" >{{ fQMantequilla.proveedor?.nombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fq-mantequilla', fQMantequilla.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fq-mantequilla', fQMantequilla.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fQMantequilla)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="fQMantequillas && fQMantequillas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
