<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success alert-dismissible fade show" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">

                <p>
                    <span jhiTranslate="global.messages.info.register.login">To use the system a user is required </span>&nbsp;
                    <a class="alert-link" (click)="login()"  jhiTranslate="global.messages.info.register.linklogin">Log In</a>
                </p>
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.linknew">Register a new account</a>

            </div>

            <div class="row" *ngSwitchCase="true">
                <div class="col-md-12">
                    <div class="card" >
                        <h5 class="card-header">
                            <fa-icon icon="flask"></fa-icon>
                            &nbsp;Análisis Físico/Químicos</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                   <h6 class="sub-title">Leche:</h6>
                                    <button type="button" class="btn btn-primary">
                                        <fa-icon icon="plus"></fa-icon>
                                        <span jhiTranslate="home.createEntity">Crear</span>
                                    </button>
                                    <button type="button" class="btn btn-info" disabled="">
                                        <fa-icon icon="file-upload"></fa-icon>
                                        <span jhiTranslate="home.importEntity">Importar</span>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntity">Listado</span>
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h6 class="sub-title">Queso:</h6>
                                    <button type="button" class="btn btn-primary">
                                        <fa-icon icon="plus"></fa-icon>
                                        <span jhiTranslate="home.createEntity">Crear</span>
                                    </button>
                                    <button type="button" class="btn btn-info" disabled="">
                                        <fa-icon icon="file-upload"></fa-icon>
                                        <span jhiTranslate="home.importEntity">Importar</span>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntity">Listado</span>
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h6 class="sub-title">Mantequilla:</h6>
                                    <button type="button" class="btn btn-primary">
                                        <fa-icon icon="plus"></fa-icon>
                                        <span jhiTranslate="home.createEntity">Crear</span>
                                    </button>
                                    <button type="button" class="btn btn-info" disabled="">
                                        <fa-icon icon="file-upload"></fa-icon>
                                        <span jhiTranslate="home.importEntity">Importar</span>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntity">Listado</span>
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div><h6 class="sub-title"> Suero:</h6></div>
                                    <button type="button" class="btn btn-primary">
                                        <fa-icon icon="plus"></fa-icon>
                                        <span jhiTranslate="home.createEntity">Crear</span>
                                    </button>
                                    <button type="button" class="btn btn-info" disabled="">
                                        <fa-icon icon="file-upload"></fa-icon>
                                        <span jhiTranslate="home.importEntity">Importar</span>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntity">Listado</span>
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div><h6 class="sub-title"> Crema:</h6></div>
                                    <button type="button" class="btn btn-primary">
                                        <fa-icon icon="plus"></fa-icon>
                                        <span jhiTranslate="home.createEntity">Crear</span>
                                    </button>
                                    <button type="button" class="btn btn-info" disabled="">
                                        <fa-icon icon="file-upload"></fa-icon>
                                        <span jhiTranslate="home.importEntity">Importar</span>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntity">Listado</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h5 class="card-header">
                            <fa-icon icon="microscope"></fa-icon>
                            &nbsp;Análisis Microbiológicos</h5>
                        <div class="card-body">
                            <div><h6 class="sub-title"> Pruebas sensoriales:</h6></div>
                            <button type="button" class="btn btn-primary">
                                <fa-icon icon="plus"></fa-icon>
                                <span jhiTranslate="home.createEntity">Crear</span>
                            </button>
                            <button type="button" class="btn btn-info" disabled="">
                                <fa-icon icon="file-upload"></fa-icon>
                                <span jhiTranslate="home.importEntity">Importar</span>
                            </button>
                            <button type="button" class="btn btn-dark">
                                <fa-icon icon="list"></fa-icon>
                                <span jhiTranslate="home.listEntity">Listado</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h5 class="card-header">
                            <fa-icon icon="tasks"></fa-icon>
                            &nbsp;Reportes</h5>
                        <div class="card-body">
                            <div><h6 class="sub-title"> Descargar reportes:</h6></div>
                            <button type="button" class="btn btn-dark" disabled="">
                                <fa-icon icon="download"></fa-icon>
                                <span jhiTranslate="home.reportEntity">Descargar Reporte</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngSwitchCase="true">
                <div class="col-md-8" *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_EDITOR'">
                    <div class="card">
                        <h5 class="card-header">
                            <fa-icon icon="list"></fa-icon>
                            &nbsp;Cátalogos</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="btn btn-dark" href="/cultivo">
                                    <fa-icon icon="list"></fa-icon>
                                    <span jhiTranslate="home.listEntityCul">Cultivos</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-dark" href="/superficie">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntitySup">Superficie</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-dark" href="/dummy">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntityRel">Relación</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-dark" href="/area">
                                        <fa-icon icon="list"></fa-icon>
                                        <span jhiTranslate="home.listEntityArea">Áreas</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_EDITOR'">
                    <div class="card">
                        <h5 class="card-header">
                            <fa-icon icon="user"> </fa-icon>
                            &nbsp;Usuarios</h5>
                        <div class="card-body">
                            <p>
                                <button type="button"  class="btn btn-primary" [routerLink]="['/admin/user-management/new']">
                                    <fa-icon icon="plus"></fa-icon>
                                    <span jhiTranslate="home.createEntity">Crear</span>
                                </button>
                                <a  class="btn btn-dark" href="/admin/user-management">
                                    <fa-icon icon="list"></fa-icon>
                                    <span jhiTranslate="home.listEntity">Listado</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
