<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
        <jhi-alert>dfggdfg</jhi-alert>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success alert-dismissible fade show" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">

                <p>
                    <span jhiTranslate="global.messages.info.register.login">To use the system a user is required </span>&nbsp;
                    <a class="alert-link" (click)="login()"  jhiTranslate="global.messages.info.register.linklogin">Log In</a>
                </p>
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.linknew">Register a new account</a>

            </div>

            <div class="row" *ngSwitchCase="true">
                <div class="col-md-4">
                    <div class="card bg-light" >
                        <h5 class="card-header">Análisis Físico/Químicos</h5>
                        <div class="card-body">
                            <p>
                                <button type="button" class="btn btn-primary">Crear</button>
                                <button type="button" class="btn btn-dark">Listado</button>
                            </p>
                            <p class="card-text">Pequeña descripción</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <h5 class="card-header">Análisis Microbiológicos</h5>
                        <div class="card-body">
                            <p>
                                <button type="button" class="btn btn-primary">Crear</button>
                                <button type="button" class="btn btn-dark">Listado</button>
                            </p>
                            <p class="card-text">Pequeña descripción</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <h5 class="card-header">Recepción</h5>
                        <div class="card-body">
                            <p>
                                <button type="button" class="btn btn-primary">Crear</button>
                                <button type="button" class="btn btn-dark">Listado</button>
                            </p>
                            <p class="card-text">Pequeña descripción</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngSwitchCase="true">

                <div class="col-md-4">
                    <div class="card bg-light">
                        <h5 class="card-header">Superficie</h5>
                        <div class="card-body">
                            <p>
                                <button type="button" class="btn btn-primary">Crear</button>
                                <button type="button" class="btn btn-dark">Listado</button>
                            </p>
                            <p class="card-text">Pequeña descripción</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_EDITOR'">
                    <div class="card bg-light">
                        <h5 class="card-header">Personal</h5>
                        <div class="card-body">
                            <p>
                                <button type="button" class="btn btn-primary">Crear</button>
                                <button type="button" class="btn btn-dark">Listado</button>
                            </p>
                            <p class="card-text">Pequeña descripción</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" *jhiHasAnyAuthority="'ROLE_ADMIN','ROLE_EDITOR'">
                    <div class="card bg-light">
                        <h5 class="card-header">Cátalogos</h5>
                        <div class="card-body">
                            <p>
                                <button type="button" class="btn btn-primary">Crear</button>
                                <button type="button" class="btn btn-dark">Listado</button>
                            </p>
                            <p class="card-text">Pequeña descripción</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
