<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-log-lacto-escan-heading" jhiTranslate="labprovidenciaApp.logLactoEscan.home.createOrEditLabel">Create or edit a Log Lacto Escan</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labprovidenciaApp.logLactoEscan.tipo" for="field_tipo">Tipo</label>
                    <input type="number" class="form-control" name="tipo" id="field_tipo"
                           formControlName="tipo"/>
                    <div *ngIf="editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('tipo')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labprovidenciaApp.logLactoEscan.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" formControlName="fecha" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecha')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labprovidenciaApp.logLactoEscan.nombreArchivo" for="field_nombreArchivo">Nombre Archivo</label>
                    <input type="text" class="form-control" name="nombreArchivo" id="field_nombreArchivo"
                           formControlName="nombreArchivo"/>
                    <div *ngIf="editForm.get('nombreArchivo')!.invalid && (editForm.get('nombreArchivo')!.dirty || editForm.get('nombreArchivo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreArchivo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreArchivo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labprovidenciaApp.logLactoEscan.numeroFila" for="field_numeroFila">Numero Fila</label>
                    <input type="number" class="form-control" name="numeroFila" id="field_numeroFila"
                           formControlName="numeroFila"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labprovidenciaApp.logLactoEscan.mensajeError" for="field_mensajeError">Mensaje Error</label>
                    <input type="text" class="form-control" name="mensajeError" id="field_mensajeError"
                           formControlName="mensajeError"/>
                    <div *ngIf="editForm.get('mensajeError')!.invalid && (editForm.get('mensajeError')!.dirty || editForm.get('mensajeError')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mensajeError')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mensajeError')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
