<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fQCrema">
            <h2><span jhiTranslate="labprovidenciaApp.fQCrema.detail.title">FQ Crema</span> {{ fQCrema.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.fecha">Fecha</span></dt>
                <dd>
                    <span>{{ fQCrema.fecha }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.lote">Lote</span></dt>
                <dd>
                    <span>{{ fQCrema.lote }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.acidez">Acidez</span></dt>
                <dd>
                    <span>{{ fQCrema.acidez }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.grasa">Grasa</span></dt>
                <dd>
                    <span>{{ fQCrema.grasa }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.ph">Ph</span></dt>
                <dd>
                    <span>{{ fQCrema.ph }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.dummy1">Dummy 1</span></dt>
                <dd>
                    <span>{{ fQCrema.dummy1 }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.dummy2">Dummy 2</span></dt>
                <dd>
                    <span>{{ fQCrema.dummy2 }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.dummy3">Dummy 3</span></dt>
                <dd>
                    <span>{{ fQCrema.dummy3 }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.dummy4">Dummy 4</span></dt>
                <dd>
                    <span>{{ fQCrema.dummy4 }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.dummy5">Dummy 5</span></dt>
                <dd>
                    <span>{{ fQCrema.dummy5 }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.observaciones">Observaciones</span></dt>
                <dd>
                    <span>{{ fQCrema.observaciones }}</span>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.area">Area</span></dt>
                <dd>
                    <div *ngIf="fQCrema.area">
                        <a [routerLink]="['/area', fQCrema.area?.id, 'view']">{{ fQCrema.area?.area }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="fQCrema.producto">
                        <a [routerLink]="['/producto', fQCrema.producto?.id, 'view']">{{ fQCrema.producto?.producto }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.analista">Analista</span></dt>
                <dd>
                    <div *ngIf="fQCrema.analista">
                        <a [routerLink]="['/user-extra', fQCrema.analista?.id, 'view']">{{ fQCrema.analista?.nombreCompleto }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.proveedor">Proveedor</span></dt>
                <dd>
                    <div *ngIf="fQCrema.proveedor">
                        <a [routerLink]="['/personal', fQCrema.proveedor?.id, 'view']">{{ fQCrema.proveedor?.nombre }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.contenedor">Contenedor</span></dt>
                <dd>
                    <div *ngIf="fQCrema.contenedor">
                        <a [routerLink]="['/contenedor', fQCrema.contenedor?.id, 'view']">{{ fQCrema.contenedor?.contenedor }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="labprovidenciaApp.fQCrema.proceso">Proceso</span></dt>
                <dd>
                    <div *ngIf="fQCrema.proceso">
                        <a [routerLink]="['/proceso', fQCrema.proceso?.id, 'view']">{{ fQCrema.proceso?.proceso }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fq-crema', fQCrema.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
