<div>
    <h2 id="page-heading">
        <span jhiTranslate="labprovidenciaApp.superficie.home.title">Superficies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-superficie" [routerLink]="['/superficie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="labprovidenciaApp.superficie.home.createLabel">
            Create a new Superficie
            </span>
        </button>
    </h2>

    <div class="filters-form card mt-4 mb-4">
        <div class="card-header">Filtrar:</div>
        <div class="card-body row">
            <div class="col-md-4">
                <input type="text"
                       id="filter_superficie"
                       [(ngModel)]="filters.superficie"
                       (ngModelChange)="loadPage()"
                       class="form-control"
                       [ngModelOptions]="{standalone: true}"
                       placeholder="Filtrar por {{'labprovidenciaApp.superficie.superficie'| translate}}" />
            </div>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="superficies?.length === 0">
        <span jhiTranslate="labprovidenciaApp.superficie.home.notFound">No superficies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="superficies && superficies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="superficie"><span jhiTranslate="labprovidenciaApp.superficie.superficie">Superficie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="labprovidenciaApp.superficie.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let superficie of superficies ;trackBy: trackId">
                    <td><a [routerLink]="['/superficie', superficie.id, 'view']">{{ superficie.id }}</a></td>
                    <td>{{ superficie.superficie }}</td>
                    <td>{{ superficie.descripcion }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/superficie', superficie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/superficie', superficie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(superficie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="superficies && superficies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
